In [1]:
import pandas as pd
import pdfplumber
import os

In [13]:
dir = "../new_resumes"
data = []

for file in os.listdir(dir):
    filename = os.fsdecode(file)
    if filename.endswith(".pdf"):
        with pdfplumber.open(f'{dir}/{filename}') as pdf:
            for page in pdf.pages:
                words = page.extract_words(extra_attrs=["fontname", "size"])
                for w in words:
                    data.append({"word": w["text"],
                                "width": w["width"],
                                "height": w["height"],
                                "left_distance": w["x0"], 
                                "bottom_distance": w["bottom"], 
                                "right_distance": w["x1"], 
                                "top_distance": w["top"],
                                "fontname": w["fontname"],
                                "fontsize": w["size"],
                                "label": 0})


df = pd.DataFrame(data)

In [14]:
df

,word,width,height,left_distance,bottom_distance,right_distance,top_distance,fontname,fontsize,label
0,Senior,30.152540,10.148936,232.791220,48.207446,262.943760,38.058510,AAAAAA+Rubik-Regular,10.148936,0
1,Business,42.564723,10.148936,265.206982,48.207446,307.771706,38.058510,AAAAAA+Rubik-Regular,10.148936,0
2,Analyst,35.429991,10.148936,309.994335,48.207446,345.424325,38.058510,AAAAAA+Rubik-Regular,10.148936,0
3,|,2.344404,10.148936,347.920971,48.207446,350.265376,38.058510,AAAAAA+Rubik-Regular,10.148936,0
4,Data,22.033372,10.148936,352.762026,48.207446,374.795398,38.058510,AAAAAA+Rubik-Regular,10.148936,0
...,...,...,...,...,...,...,...,...,...,...
3890, UAVs/UGVs).,57.494050,8.880319,38.692819,171.504747,96.186869,162.624428,CAAAAA+Inter-Regular,8.880319,0
3891,www.enhancv.com,62.291077,6.977394,41.864361,811.696821,104.155438,804.719427,CAAAAA+Inter-Regular,6.977394,0
3892,​,63.430850,63.430850,485.246004,839.546928,548.676854,776.116078,DAAAAA+resumeicons,63.430850,0
3893,Powered,28.900681,6.977394,434.501324,810.428204,463.402005,803.450810,CAAAAA+Inter-Regular,6.977394,0
3894,by,8.077522,6.977394,465.364397,810.428204,473.441919,803.450810,CAAAAA+Inter-Regular,6.977394,0

In [19]:
#df.to_csv('new_resumes_to_add.csv')

In [15]:
#df.to_csv("resume_text.csv")